.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-text);
}

.mainContentArea {
    display: flex;
    flex-grow: 1;
}

.footer {
    background-color: var(--color-main);
    color: rgba(255, 255, 255, 0.7);
    padding: 0.8rem 1rem;
    text-align: center;
    font-size: 0.8rem;
    flex-shrink: 0;
}
