.container {
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.headerNumber {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

.headerTitle {
    background: transparent;
    display: block;
    padding: 0px;
    width: 100%;
    font-size: 3rem;
    resize: none;
    line-height: 1.5;
    outline: none;
    border: none;
    font-weight: bold;
    color: var(--color-text);
}

.headerDescription {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
    width: 100%;
}

.descInput {
    background: none;
    border: none;
    color: var(--color-text);
    font-weight: 400;
    width: 100%;
    margin-left: 1rem;
    font-size: 1.8rem;
}
.descInput:focus {
    outline: none;
}

.contents {
}

.contentsInput {
    background: transparent;
    display: block;
    padding: 0;
    width: 100%;

    font-size: 1.8rem;
    resize: none;
    line-height: 1.5;
    outline: none;
    border: none;
    color: #ffffff9f;
    margin-top: 2rem;

    min-height: 30rem; /* ✨ 콘텐츠 입력창의 최소 높이 (300px) */
    max-height: 50rem; /* ✨ 콘텐츠 입력창의 최대 높이 (500px). 이 높이를 넘어가면 스크롤바가 생김! */
    overflow-y: auto; /* ✨ 세로 스크롤바를 필요할 때만 보여줌 (내용이 넘칠 때 자동 생성!) */

    /* (선택 사항: 긴 단어가 줄바꿈되도록) */
    word-wrap: break-word;
    white-space: pre-wrap; /* textarea 기본 동작이지만 명시적으로 */
}

.btnMode {
    background-color: var(--color-highlight-btn);
    color: white;
    border: 'none';
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    cursor: 'pointer';
    font-size: 1.4rem;
}
