.container {
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.headerTop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    height: 6rem;
}

.headerNumber {
    margin: 0;
    font-weight: 400;
}
.headerbtn {
    display: flex;
    gap: 0.5rem;
}

.headerTitle {
    background: transparent;
    display: block;
    padding: 0px;
    width: 100%;
    font-size: 3.5rem;
    resize: none;
    outline: none;
    border: none;
    font-weight: bold;
    color: var(--color-text);
    margin-bottom: 2rem;
    font-weight: 800;
}

.headerDescription,
.headerTag {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: start;
    width: 100%;
}

h3 {
    margin: 1rem 0;
}

.descInput,
.tagInput {
    background: none;
    border: none;
    color: var(--color-text);
    font-weight: 400;
    width: 100%;
    font-size: 1.6rem;
    margin-left: 1rem;
}
.descInput:focus,
.tagInput:focus {
    outline: none;
}

.contents {
}

.contentsInput {
    background: transparent;
    display: block;
    padding: 0;
    width: 100%;

    font-size: 1.8rem;
    resize: none;
    line-height: 1.5;
    outline: none;
    border: none;
    color: #ffffff9f;
    margin-top: 1.5rem;

    min-height: 43rem;
    max-height: 50rem;
    overflow-y: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.btnMode {
    background-color: var(--color-highlight-btn);
    color: white;
    border: 'none';
    width: 14rem;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    cursor: 'pointer';
    font-size: 1.4rem;
    margin-left: 1rem;
    transition: color 0.3s;
}

.btnMode:active {
    color: #1976d2;
}
