.container {
    padding: 3rem;
}

.title {
    font-size: 5em;
    line-height: 1.1;
    margin: 0;
}

.metaData {
    margin-top: 1.7rem;
}

.meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    line-height: 1.6;
    font-size: 1.7rem;
}

.metaTags {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1rem;
    gap: 0.5rem;
}

.tag {
    line-height: 1.3;
    margin: 0;
    background-color: rgba(66, 165, 245, 0.2);
    color: var(--color-highlight-btn);
    border-radius: 3px;
    padding: 0.2rem 0.7rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.content,
.content > p {
    font-size: 1.8rem;
    margin-top: 5rem;
}
