button {
}

button:focus {
    transition: color 0.3s;
}

.btnSave:active {
    color: #1976d2;
}
.btnUpdate:active {
    color: rgba(83, 238, 255, 0.831);
}
.btnDelete:active {
    color: #d54340;
}
.btnCancel:active {
    color: #9b9b9b;
}
