.header {
    background-color: var(--color-main);
    padding: 2.4rem 3.2rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.headerTitle {
    margin: 0;
    font-size: 3rem;
}
