.header {
    background-color: var(--color-main);
    padding: 2.4rem 3.2rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.headerTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    font-size: 3rem;
    cursor: pointer;
}

.headerSearch {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.input {
    width: 35vw;
    border: none;
    border-bottom: 1px solid #f1f1f1;
    padding: 0.5rem 0.5rem;
    font-size: 1.6rem;
    color: var(--color-text);
    background-color: transparent;
    outline: none;
    font-family: inherit;
    transition: border-color 0.2s;
}

.label {
    position: absolute;
    top: -1px;
    left: 8px;
    color: #dcdcdc;
    font-size: 1.6rem;
    font-style: italic;
    pointer-events: none;
    transition: all 0.2s ease;
}

.headerSearch input:focus + label,
.headerSearch input:not(:placeholder-shown) + label {
    top: -13px;
    font-size: 1.2rem;
    color: #ffffff79;
}

.btnSearch {
    width: 25px;
    height: 25px;
}
.btnSearch:focus {
    outline: none;
    transition: color 0.3s;
}
.btnSearch:active {
    color: #1976d2;
}

.headerRight {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.headerRight svg {
    cursor: pointer;
}
