.sidebar {
    background-color: var(--color-card-bg);
    width: 25rem;
    padding: 2.4rem;
    border-right: 0.1rem solid rgba(255, 255, 255, 0.1);

    position: fixed;
    top: 9.3rem;
    left: 0;
    bottom: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.btnClose {
    font-size: 2.5rem;
    display: flex;
    justify-content: end;
    cursor: pointer;
}

.sidebarNavList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebarNavItem {
    margin-bottom: 1.3rem;
    cursor: pointer;
}

.sidebarNavLink {
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.8rem;
    display: block;
    padding: 0.8rem 0;
    transition: color 0.2s;
}

.sidebarNavLink:hover {
    color: var(--color-highlight-btn);
}

.btnNewNote {
    display: flex;
    justify-content: center;
    background-color: var(--color-highlight-btn);
    color: whvar(--color-text);
    border: none;
    padding: 1.3rem 2.4rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: auto;
}

.btnNewNote:hover {
    background-color: var(--color-main);
    color: var(--color-text);
}
