.contentsInput {
    background: transparent;
    display: block;
    padding: 0;
    width: 100%;

    font-size: 1.8rem;
    resize: none;
    line-height: 1.5;
    outline: none;
    border: none;
    color: #ffffff9f;
    margin-top: 1.5rem;

    min-height: 43rem;
    max-height: 50rem;
    overflow-y: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}
